#chart-container {
    width: 25%; /* Adjust as needed */
    height: 400px; /* Set a fixed height or adjust as needed */
    float: left; /* Align the chart container to the left */
}
.connected {
    background-color: green;
    color: white;
}
